*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    padding: 5px;
    max-height: 1000vh;
}

header{
    height: 80px;
    background-color: rgb(247, 255, 255);
    border-bottom:3px solid ;
}

main{
    width: 100%;
    background-color: rgb(196, 233, 233);
}
h1{
    float: left;
   padding: 20px ;
   padding-top:25px ;
    color: rgb(1, 6, 9);
    font-size: 30px;
    font-weight: normal;
}
ul{
    float: right;
    display: flex;
   justify-content: end;
   align-items: end;
}
ul li{
    list-style-type: none;
    padding: 20px;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(2, 11, 18);
    font-weight: bold;
    transform: 4s ease-in-out;
}
ul li a:hover{
    color: blue;
    text-decoration: underline;
}
.body{
    width: 100%;
    float: right;
    justify-content: center;
    text-align: center;
}
.body h2{
   
   font-size: 20px;
   font-weight: 600;
   padding-top: 20px;
   padding-bottom: 20px;
}
.body img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
   margin: 20px;
}

.Projects {
  display: grid;
  place-items: center; 
  width: 100%; 
  background-color: rgb(166, 192, 192);

}
h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
button{
    border: 1px solid;
    margin: 10px;
    padding-left: 25px;
    color: black;
    padding-right: 25px;
    padding-top:20px ;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    font-size: 20px;
    box-shadow: 2px 5px 15px;
}
.ContactME{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
 a{
    text-decoration: none;
    font-weight: bold;
    transform: 4s ease-in-out;
}
a .fa-telegram{
    color: blue;
    font-size: 35px;
}
a .fa-facebook{
    color: blue;
    font-size: 35px;
}
a .fa-instagram{
    color: rgb(171, 25, 25);
    font-size: 35px;
}
a .fa-twitter{
    color: rgb(33, 4, 249);
    font-size: 35px;
}
a .fa-tiktok{
    color: rgb(49, 8, 18);
    font-size: 35px;
}
a .fa-youtube{
    color: rgb(183, 12, 35);
    font-size: 35px;
}
a:active{
    opacity: 0.5;
}

a :hover{
  opacity: 0.7;
}
footer{
    text-align: center;
    width: 100%;
    color: aliceblue;
    height: 40px;
    font-size: 20px;
    background-color: rgb(50, 21, 234);
}

